@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
.bg{
	background:url(../img/body-back.jpg) repeat;
}

/*header*/
.header
{
	width:100%;
	height:64px;
	background:url(../img/header-back.jpg) repeat-x;
}
.headerInfo{
	width:1000px;
	height:59px;
	margin:0 auto;	
}
.headerImg{
	width:161px;
	float:left;
}
.headerUnderline{
	width:100%;
	height:5px;
	background:url(../img/header-underline.jpg) repeat-x;
}
.userInfo{
	height:59px;
	position:relative;
	float:right;
	margin:auto 0;
	line-height:59px;
}
.userName {
	font-size:12px;
	font-weight:500;
	font-family:"微软雅黑";
	color:#333;
	float:left;
	margin-right:5px;
}
.userClassImg{
	margin-top:23px;
	display:inline;
	float:left;		
}
.userInfo span{
	font-weight:bold;
}
.userExit{
	font-size:12px;
	font-weight:500;
	font-family:"微软雅黑";
	color:#333;
	text-decoration:none;
}
/*header*/

/*mainbody*/
.mainBody{
	width:1000px;
	height:800px;
	margin:30px auto 0 auto;
	background:#FFF;
	border:solid 1px #c8c8c8;
}

.footer{
	margin-top:30px;
	width:100%;
	height:120px;
	background:#333;
}

/*rightbody*/
/*rightbody*/
/*mainbody*/
